@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #B7DB25;
  --color-green: #0A2004;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}
.app__navbar {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-green);
  margin-top: -1rem;
  padding-left: 30px;
}
body {
  overflow-x: hidden;
}
.app__navbar-logo {
  padding-top: 1rem;
  margin-bottom: 0.001rem;
  display: flex;
  align-items: center;
}

.app__navbar-logo-bigg {
  margin-bottom: 0.01rem;
  color: var(--color-white);
  padding-bottom: 0px;
  font-size: 2rem;
  font-family: var(--font-base);
  font-weight: 100;
}

.nav_logo{
  padding-right: 20px;
  width: 70px;
  height: 70px; 
  border-radius: 90px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 50px;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* .logout-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

.app__navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: .5s ease;
}
.logout-button button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.app__navbar-login a:hover {
  border-bottom: 1px solid var(--color-golden);
}

.logout-button button:hover {
  border-bottom: 3px solid var(--color-golden);
}
.app__navbar-login div {
  width: 1px;
  height: 30px;
  background: var(--color-grey);
}
/* .logout-button div {
  width: 1rem;
  height: 2rem;
  background: var(--color-grey);
} */

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-green);
  transition: .5s ease;

  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.app__navbar-smallscreen_links {
  list-style: none;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover {
  color: var(--color-white);
}

@media screen and (min-width: 2000px) {
  .app__navbar-logo img {
      width: 210px;
  }
}

@media screen and (max-width: 710px) {
  .app__navbar-links {
      display: none;
  }

  .app__navbar-smallscreen {
      display: flex;
  }

  .app__navbar-logo-bigg {
      margin-bottom: 0.01rem;
      color: var(--color-white);
      padding-bottom: 0px;
      font-size: 1.5rem;
      font-family: var(--font-base);
  }    

  .nav_logo{
      padding-right: 0.5rem;
      width: 4rem;
      height: 3.5rem; 
      border-radius: 50%;
  }
}
/* 
@media screen and (max-width: 650px) {
  .app__navbar {
      padding: 1rem;
  }

  .app__navbar-login {
      display: none;
  }

  .app__navbar-logo img {
      width: 110px;
  }
} */
.app__navbar-links {
  display: flex;
  list-style: none;
}

.app__navbar-links li {
  margin-right: 20px;
}

.app__navbar-links li a {
  text-decoration: none;
  color: var(--color-white); /* Change link color */
  font-size: 1.2rem; /* Adjust font size */
  transition: color 0.3s ease; /* Add transition effect */
}

.app__navbar-links li a:hover {
  color: #45a049; /* Change link color on hover */
}
