* {
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #B7DB25;
  --color-green: #0A2004;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

html,
body {
  width: 100%; /* Set the width of the html and body to 100% */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
 /* Hide horizontal scrollbar */
}
/* Card Styles */

.card-row {
  justify-content: center;
}

.card-container {
  margin-bottom: 40px; /* Increased margin for better separation */
}

.all-cards {
  display: flex;
  margin-left: 1.5rem; /* added margins */
  margin-right: 1.5rem;/* added margins */
  flex-wrap: wrap;
  gap: 30px; /* Reduced gap between cards for a cleaner look */
  justify-content: center;
}

.card {
  position: relative; /* Added position relative for z-index */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px; /* Set fixed width for cards || changed it from 400->380 to adjust the margins */
  /* height: 30vh; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Added shadow effect */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition effect */
}

.card:hover {
  transform: translateY(-5px); /* Lift card slightly on hover */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow effect on hover */
}
.card:hover img {
  filter: blur(4px); /* Apply blur effect when hovering */
}

.card-body {
  padding: 1rem; /* changed to rem terms */
  text-align: center;
}

.card-title {
 /* margin-bottom: 5px;  Added margin bottom for spacing */
  font-size: 1.5rem;
  padding-top: -25px;
  font-weight: bold;
  color: #214137; /* Dark green text color */
}

.card-subtitle {
  margin-bottom: 15px; /* Added margin bottom for spacing */
  font-size: 1.2rem;
  color: #163020; /* Subtle text color */
}

.card-description {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjusted width for better visibility */
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px;
  text-align: center; /* Center align text */
  transition: opacity 0.3s ease;
  z-index: 1;
}

.card:hover .card-description {
  display: block;
}

.card:hover img {
  filter: blur(4px); /* Apply blur effect when hovering */
  opacity: 0.8; /* Reduced opacity on hover */
}

.card-description p {
  margin: 0; /* Reset default margin of paragraphs */
  font-weight: bold; /* Apply bold font weight */
  color: #214137; /* Dark green text color */
}

img {
  width: 250px; /* Make images responsive */
  height: 200px; /* Limit image height */
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Rounded corners for the top */
}

/*.card:hover img {
/*  opacity: 0.8; /* Reduced opacity on hover */
/*}

/* Categories Styles */

/* Categories Styles */

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400; 
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.btn-group {
  display: flex;
  justify-content: center;
  padding: 20px 0; /* Add padding on top and bottom */
}

.btn-group__item {
  background-color: #163020; /* Vibrant green color */
  color: #EEF0E5;
  border: none;
  border-radius: 10px;
  padding: 15px 30px; /* Adjusted padding for top and bottom */
  margin: 0 30px; /* Increased margin for more gaps */
  cursor: pointer;
  letter-spacing: 3px;
  transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s; /* Smooth transition effects */
  font-size: 1.2rem; /* Adjusted font size */
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.btn-group__item:hover {
  background-color: #265837; /* Darker green color on hover */
  transform: translateY(-2px); /* Move button slightly up on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow effect on hover */
}

.card-subtitle {
  font-size: 50;
}
body {
  background: linear-gradient(#B6C4B6, #EEF0E5);
}
/* Footer Styles */

.footer-content {
  background-color: #EEEEEE; /* Vibrant green color */
  color: #627254; /* Text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjusted padding for spacing */
  flex-wrap: wrap;
}

.Contact-Us,
.Working-Hours {
  flex: 1;
}

.Icons {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
  margin-top: 20px; /* Adjusted margin-top */
}

.Icons div {
  margin: 0 10px;
}

.Contact-Us,
.Working-Hours {
  text-align: center; /* Center text */
}

.Contact-Us div,
.Working-Hours div {
  margin-top: 10px; /* Adjusted margin-top */
}

footer {
  background-color: #EEEEEE; /* Vibrant green color */
  color: #214137; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 4rem;
  margin-top: 40px;
  
}

.footer-line {
  background-color: #DDDDDD; /* Darker green color for footer line */
  text-align: center;
  padding: 10px 0; /* Adjusted padding */
}

.footer-line p {
  margin: 0; /* Remove default margin */
}

i {
  font-size: 22px;
}
.header-container {
  padding-top: 20px;
  perspective: 1500px;
  text-align: center;
  position: relative;
}

.header-image {
  width: 700px;
  height: 300px;
  filter: blur(4px);
  object-fit: cover;
  transition: filter 0.5s ease-in-out;
  border-radius: 10px;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #163020; /* changed cursor colour from white to the font colour */
  animation: typing 4s steps(36, end) forwards, blink-caret 0.75s step-end infinite; /*changed no of steps  */
  max-width: 100%; /* or adjust to a value that accommodates the entire text */
  color: #163020;
  font-size: 4.3rem;  /* changed the font size very slightly to increase margin */
  font-weight: 700;
}

.header-container:hover .header-image {
  filter: blur(2px);
}

.header-image.tilt-left {
  transform: rotateY(-10deg);
}

.header-image.tilt-right {
  transform: rotateY(10deg);
}

.header-title::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #163020; /* changed the color of the fullstop after animation from white to font color */
  margin-left: 5px;
  animation: blink 2s infinite;/* slowed the animation */
}
@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .header-title {
    font-size: 1.5rem;

  }
  .header-image {
    width: 350px;
    height: 250px;
    filter: blur(4px);
    object-fit: cover;
    transition: filter 0.5s ease-in-out;
    border-radius: 10px;
  }
}


